@import "home";

.weapon-box-index {
  background: #F5F5F5;
  height: 320px;
  padding: 15px;
  margin-top: 15px;
}

.btn-margin-index {
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-picture-index {
  background-size: cover !important;
  height: 150px;
}

.weapon-box-index h2 {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 5px;
  color: white;
  font-size: 16px;
  padding-left: 10px;
}

.weapon-box-index h1 {
  position: absolute;
  left: 5px;
  top: 5px;
  margin-top: 5px;
  color: white;
  font-size: 16px;
  padding-left: 10px;
}

.owner-avatar {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.weapon-box-index p {
  margin-top: 15px;
  text-align: justify;
  font-size: 12px;
}
