<div class="footer">
  <div id="network" class="text-center">
    <ul class="list-inline">
      <li>
        <p>Join us on</p>
      </li>
      <li>
        <i class="fa fa-facebook"></i>
        <a href="#" target="_blank">Facebook</a>
      </li>
      <li>
        <i class="fa fa-twitter"></i>
        <a href="#" target="_blank">Twitter</a>
      </li>
      <li>
        <i class="fa fa-facebook"></i>
        <a href="#" target="_blank">LinkedIn</a>
      </li>
    </ul>
  </div>
</div>
