<div class="banner"  style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%); background-image: url(<%= asset_path('rourke.jpg') %>);">
  <div class="banner-content">
    <form action="#" class="form-inline">
      <input type="text" class="form-control " placeholder="from">
      <input type="text" class="form-control " placeholder="to">
      <select name="" id="" class="form-control ">
        <option value="1">Rifle</option>
        <option value="2">Revolver</option>
        <option value="3">Missile Launcher</option>
      </select>
      <input type="submit" class="btn btn-primary " value="Search">
    </form>
    <h1>ArghGnb</h1>
    <p>Cool bloody stuff for cold blooded staff</p>
  </div>
</div>

