
  <div class="container">
  <div class="row">
    <% @weapons.each do |weapon| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">

          <% if weapon.picture %>
            <div class="card-header" style="background-image: url('<%= image_path weapon.picture %>')">
            </div>
          <% else %>
            <div class="card-header" style="background-image: url('http://www.seriouseats.com/images/2014/11/20141104-cocktail-party-old-fashioneds-holiday-vicky-wasik-3.jpg')">
            </div>
          <% end %>
          <div class="card-body">
            <%= link_to weapon.name, weapon_path(weapon) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

