<h1 class="text-center">Your search weapon results</h1>


<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">

            <div class="card-header" style="background-image: url('http://lorempixel.com/g/400/200')">
            </div>
          <% else %>
            <div class="card-header" style="background-image: url('http://lorempixel.com/g/400/200')">
            </div>
          <% end %>
          <div class="card-body">
            <p> weapon name </p>
            <p> weapon price </p>
            <a href="#" class="btn-treehouse">Buy</a>
          </div>
        </div>
      </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
