<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><%= link_to "My Profile", edit_user_registration_path(user: current_user) %></li>

        <li class="active"><a href="#My Babys" data-toggle="tab">My Babys</a></li>

        <li><%= link_to "My Bookings", user_bookings_path(user: current_user) %></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <%= render 'shared/card', products: @weapons %>
    </div>

</div>




