<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">

        <li><a href="#My profile" data-toggle="tab">My profile</a>
        </li>

        <li class="active"><a href="#My Babys" data-toggle="tab">My Babys</a></li>

        <li><a href="#My Bookings" data-toggle="tab">My Bookings</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <%= render 'shared/card', products: @weapons %>
    </div>

</div>




